/* Css de la nav bar*/
.main-nav {
    display: flexbox;
    justify-content: space-between;
    background-color: #333;
    padding: 1em 1em;
    color: white;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d40000;
}

form {
  margin-top: 10%;
  margin-left: 40%;
  width: 400px;
  padding: 1em;
  border: 1px solid #f30404;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #ee0606;
}

input:focus,
textarea:focus {
  border-color: #f50606;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: vertical;
}

.button {
  padding-left: 40%;
  padding-top: 5%;
}
